:root {
    --origin-col: 0;
    --origin-row: 0;
    --end-col: 0;
    --end-row: 0;
}

h3 {
    color: #41A317;
    text-align: center;
}

.game {
    padding-top: 10px;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.header {
    margin: auto;
}

.game-board-grid {
    display: grid;
    min-width: 400px;
    min-height: 400px;
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 1px solid #41A317;
}


.game-board-square {
    grid-area: var(--origin-row)/var(--origin-col);
    min-height: 40px;
    height: 8vmin;
    aspect-ratio: 1/1;
    border: solid 1px #41A317;
    background-color: black;
}
    .game-board-square.hit {
        margin:auto;
        border-radius: 50%;
        border: none;
        height: 4vmin;
        opacity: 100%;
        grid-area: var(--origin-row)/var(--origin-col);
        background-color: darkorange;
    }
    .game-board-square.miss {
        opacity: 50%;
        grid-area: var(--origin-row)/var(--origin-col);
        background-color: #41A317;
    }


.ship {
    border: solid 1px #41A317;
    pointer-events: none;
    grid-row-start: var(--origin-row);
    grid-column-start: var(--origin-col);
    grid-row-end: var(--end-row);
    grid-column-end: var(--end-col);
    background-color: #333333;
}