:root {
    --coorx: 0%;
    --coory: 0%;
    --rotate: 0deg;
}

h3 {
    color: #41A317;
    text-align: center;
}

.game {
    position: relative;
    padding-bottom: 10px;
}

.header {
    margin: auto;
}

.game-board-grid {
    min-width: 400px;
    min-height: 400px;
    display: grid;
    position: relative;
    width: fit-content;
    height: fit-content;
    grid-auto-flow: column;
    margin: auto;
    border: 1px solid #41A317;
}

.game-board-row {
    background-color: #41A317;
}

.game-board-square {
    min-height: 40px;
    height: 8vmin;
    aspect-ratio: 1/1;
    border: 1px solid #41A317;
    background-color: black;
}

.ship {
    position: absolute;
    left: var(--coorx);
    top: var(--coory);
    background-color: #333333;
    pointer-events: none;
    border: 1px solid #41A317;
}

    .ship.carrier {
        transform-origin: 50% 10%;
        transform: rotate(var(--rotate));
        min-height: 200px;
        min-width: 40px;
        width: 8vmin;
        aspect-ratio: 1/5;
    }

    .ship.battleship {
        transform-origin: 50% 12.5%;
        transform: rotate(var(--rotate));
        min-height: 160px;
        min-width: 40px;
        width: 8vmin;
        aspect-ratio: 1/4;
    }

    .ship.cruiser {
        transform-origin: 50% 16.666666%;
        transform: rotate(var(--rotate));
        min-height: 120px;
        min-width: 40px;
        width: 8vmin;
        aspect-ratio: 1/3;
    }

    .ship.submarine {
        transform-origin: 50% 16.666666%;
        transform: rotate(var(--rotate));
        min-height: 80px;
        min-width: 40px;
        width: 8vmin;
        aspect-ratio: 1/3;
    }


    .ship.destroyer {
        transform-origin: 50% 25%;
        transform: rotate(var(--rotate));
        min-height: 80px;
        min-width: 40px;
        width: 8vmin;
        aspect-ratio: 1/2;
    }
