/* /MainLayout.razor.rz.scp.css */

main[b-t679ll8pal] {
}
/* /Pages/GameBoardNew.razor.rz.scp.css */
:root[b-taxovbgbo8] {
    --origin-col: 0;
    --origin-row: 0;
    --end-col: 0;
    --end-row: 0;

}

h1[b-taxovbgbo8] {
    text-shadow: 10px;
    position: relative;
    text-align: center;
    color: #41A317;
    font-family: Tahoma, Geneva, sans-serif;
    padding-top: 6px;
    font-size: 19px;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}
.header[b-taxovbgbo8] {
    margin: auto;
}
.game[b-taxovbgbo8] {
    margin: auto;
    display: flex;
    width: fit-content;
    height: fit-content;
}
.game-board-status-panel[b-taxovbgbo8] {
    width: 20vw;
    background-color: transparent;
    border: 2px solid black;
}
.game-board-grid[b-taxovbgbo8] {
    display: grid;
    min-width: 400px;
    aspect-ratio: 1/1;
    width: fit-content;
    height: fit-content;
    border: 1px solid #41A317;
}


.game-board-square:hover[b-taxovbgbo8] {
    box-shadow: inset 0 0 0 2px lightgrey;
}
.game-board-square.hit:hover[b-taxovbgbo8] {
    box-shadow: none;
}
.game-board-square.miss:hover[b-taxovbgbo8] {
    box-shadow: none;
}


.game-board-square[b-taxovbgbo8] {
    grid-area: var(--origin-row)/var(--origin-col);
    min-height: 40px;
    height: 7vmin;
    aspect-ratio: 1/1;
    border: solid 1px #41A317;
    background-color: black;
}
    .game-board-square.hit[b-taxovbgbo8] {
        background-color: transparent;
        border: 4px solid orange;
        margin: auto;
        height: 2vmin;
        min-height: 10px;
        -webkit-border-radius: 50%;
        animation: pulsate 1s ease-out;
        -webkit-animation-iteration-count: infinite;
        opacity: 0.0
    }
    .game-board-square.hit-circle[b-taxovbgbo8] {
        border-radius: 50%;
        margin: auto;
        height: 2vmin;
        min-height: 10px;
        border: none;
        background-color: darkorange;
    }
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}
    .game-board-square.miss[b-taxovbgbo8] {
        opacity: 50%;
        grid-area: var(--origin-row)/var(--origin-col);
        background-color: #41A317;
    }


.ship[b-taxovbgbo8] {
    border: solid 1px #41A317;
    pointer-events: none;
    grid-row-start: var(--origin-row);
    grid-column-start: var(--origin-col);
    grid-row-end: var(--end-row);
    grid-column-end: var(--end-col);
    background-color: #333333;
}
